@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  --accent-color: #007bff; /* Couleur d'accentuation pour la frise */
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222; /* Fond sombre */
  color: #ddd; /* Texte clair */
}

h1 {
  text-align: center;
}

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
  padding: 0; /* Ajout de padding à 0 pour éviter les marges inutiles */
}

/* Line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* Columns and row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* Card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* Date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* Date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* Circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* Title and description */
ul li .title,
ul li .descr {
  background: #555;
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

/* Shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* Start second card */
  ul li:nth-child(2) {
    grid-row: 2 / 4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.hero {
  position: relative;
  height: 100vh;
  background: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding-top: 20px; /* Ajout d'un padding en haut pour éloigner le titre du bord supérieur */
}

.hero h1 {
  font-size: 4rem;
  margin: 0;
  animation: fadeInDown 1.5s ease-in-out;
}

.hero p {
  font-size: 1.5rem;
  margin: 10px 0 0; /* Ajout d'une marge en haut pour éloigner le paragraphe du titre */
  animation: fadeInUp 1.5s ease-in-out;
}

.content, .competence, .contact, .experience, .projet {
  padding: 20px 20px;
  min-height: 400px; /* Ajout d'une hauteur minimale pour uniformiser les sections */
}
/* Styles pour les titres des sections */
.content h2, .competence h2, .contact h2, .experience h2, .projet h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: -10px; /* Réduire la marge supérieure */
}

.content p, .competence p, .contact p, .experience p, .projet p {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
.button {
  display: inline-block;
  padding: 15px 30px;
  margin: 10px; /* Ajout de la marge entre les boutons */
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.button-container {
  text-align: center;
}

.button:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

.competence img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 15px;
}
.footer {
  background-color: #222; /* Fond sombre */
  color: #888; /* Texte gris clair */
  padding: 20px 0;
  text-align: center;
}
.footer p {
  margin: 0;
}
.map-container {
  margin: 2rem 0; /* Conserver les marges pour l'espacement */
  border: 1px solid #ddd; /* Ajouter une bordure pour délimiter la carte */
  border-radius: 8px; /* Ajouter des coins arrondis pour un style plus doux */
  overflow: hidden; /* Masquer tout dépassement du contenu */
}
.map-container iframe {
  width: 100%;
  height: 350px; /* Ajuster la hauteur pour une meilleure visibilité sur les petits écrans */
  border: none; /* Supprimer la bordure par défaut de l'iframe */
  border-radius: 8px; /* Appliquer les coins arrondis à l'iframe */
}

@media only screen and (max-width: 767px) {
  /* Ajustements pour les petits écrans (smartphones) */
  .timeline-item::before {
    left: unset; /* Réinitialiser la position de l'année sur la frise */
    top: -30px; /* Déplacer l'année au-dessus de la frise */
    right: 100%; /* Positionner l'année à l'extrême gauche */
    transform: translateX(-100%); /* Déplacer l'année à gauche */
    font-size: 1rem; /* Réduire la taille de la police de l'année */
  }

  .timeline-item {
    padding: 10px; /* Réduire l'espace autour des éléments de la frise */
    border-left: none; /* Supprimer la bordure à gauche */
  }

  .timeline-item h3 {
    font-size: 1.25rem; /* Ajuster la taille de la police du titre */
  }

  .timeline-item p {
    font-size: 1rem; /* Ajuster la taille de la police du paragraphe */
  }
}

